/* Global */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

.kb-app {
  font-family: 'Fira Sans', sans-serif;
  color: #212121;
}
.kb-app a {
  color: #0eb5ed;
  text-decoration: none;
}


/* App structure */

.kb-app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #cccccc;
}

.kb-header {
  height: 3.5rem;

  background-color: #404040;
}
.kb-header--content {
  display: flex;
  align-items: center;
}

.kb-header--content,
.kb-main {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;

  padding: 0 1.5rem;
}

.kb-main {
  flex-grow: 1;

  background-color: #eeeeee;
}


/* Blocks, elements and modifiers (BEM) */

@import './header.css';
@import './firmware-downloads.css';
