.kobo-app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #aaaaaa;
  background-image: radial-gradient(#c0c0c0 15%, transparent 16%),
                    radial-gradient(#c0c0c0 15%, transparent 16%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}


.app-header {
  height: 3.5rem;

  background-color: #404040;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0  6px  6px rgba(0, 0, 0, 0.23);
}
.app-header--content {
  display: flex;
  align-items: center;
}

.app-header--content,
.app-main,
.app-footer {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;

  padding: 0 2.25rem;
}

.app-header--title {
  margin: 0;

  color: #eeeeee;
}


.app-main {
  flex-grow: 1;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;

  background-color: #dddddd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0  6px  6px rgba(0, 0, 0, 0.23);
}


.app-footer {
  margin-bottom: 1.5rem;

  color: #404040;
  font-size: .9rem;
}

.app-footer--credits,
.app-footer--license {
  padding: 0 1em;
}
.app-footer .app-footer--credits a,
.app-footer .app-footer--license a {
  color: #eeeeee;
}
