<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">

    <link rel="canonical" href="{{ .Permalink }}" />

    <link href="{{ "styles/index.css" | relURL }}" rel="stylesheet">

    {{ if .IsTranslated -}}
      {{ range .Translations -}}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
      {{- end }}
    {{- end }}

    {{ block "title" . }}
    <title>{{ .Site.Param "title" }}</title>
    {{ end }}
  </head>
  <body>
    {{ block "body" . }}
    {{ end }}
  </body>
</html>
