.kobo-app h1,
.kobo-app h2,
.kobo-app h3,
.kobo-app h4,
.kobo-app h5,
.kobo-app h6,
.kobo-app nav.toc li {
  text-transform: capitalize;
  text-align: left; /* Fallback */
  text-align: start;
}

.kobo-app header > h2 > span {
	border-bottom: 3px solid #0eb5ed;
}

.kobo-app header > h2 + p {
  margin-top: -1.25em;

  text-transform: uppercase;
  color: #444444;
}

.kobo-app nav.toc {
  display: inline-block;
  padding: 0 1.25em;

  border: 1px solid rgba(0, 0, 0, .3);
  background-color: rgba(255, 255, 255, .5);
}
