<div class="downloads-list dictionary-list">
{{- $url := "http://download.kobobooks.com/ereader/dictionaries" }}
{{- range $lang, $dictionaries := .Site.Data.dictionaries_by_lang }}
  {{- range $dictionaries }}
  <article class="card downloads-list--item{{ if not (index . "to") }} downloads-list--item_break{{ end }}">
    <a href="{{ $url }}/dicthtml{{ with .id }}-{{ . }}{{ end }}.zip">
      {{- i18n (index . "from") }}{{ with (index . "to") }}-{{ i18n . }}{{ end -}}
    </a>
  </article>
  {{- end }}
{{- end }}
</div>