<div id="react--dictionary-downloads-list"></div>

<noscript>
  <p><strong>Notice:</strong> JavaScript is disabled. This list of dictionaries is cached and may not be up-to-date.</p>

  <div class="downloads-list dictionary-list">
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml.zip">English</a>
    </article>
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-de.zip">German</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-de-en.zip">German‑English</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-en-de.zip">English‑German</a>
    </article>
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-es.zip">Spanish</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-es-en.zip">Spanish‑English</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-en-es.zip">English‑Spanish</a>
    </article>
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-fr.zip">French</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-fr-en.zip">French‑English</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-en-fr.zip">English‑French</a>
    </article>
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-it.zip">Italian</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-it-en.zip">Italian‑English</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-en-it.zip">English‑Italian</a>
    </article>
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-nl.zip">Dutch</a>
    </article>
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-jp.zip">Japanese</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-en-jp.zip">English‑Japanese</a>
    </article>
    <article class="card downloads-list--item downloads-list--item_break">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-pt.zip">Portuguese</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-pt-en.zip">Portuguese‑English</a>
    </article>
    <article class="card downloads-list--item">
      <a href="http://download.kobobooks.com/ereader/dictionaries/dicthtml-en-pt.zip">English‑Portuguese</a>
    </article>
  </div>
</noscript>
