<ul class="downloads-list device-list">
{{- $affiliate := (index .Site.Data.affiliates 0) }}
{{- $currentFwVersion := "0.0" }}
{{- $serialNumber := "N" }}
{{- range .Site.Data.devices }}
  {{- $update := getJSON "https://api.kobobooks.com/1.0/UpgradeCheck/Device/" (index . "id") "/" $affiliate "/" $currentFwVersion "/" $serialNumber }}
  <li class="downloads-list--item">
    <article class="card">
      <header>
        <span class="card--title">{{ replace (index . "model") "Kobo " "" }}</span>
        <span>{{ (index . "hardware") }}</span>
      </header>

      <div class="card--action-list">
        {{- with (index $update "UpgradeURL") }}
        <a href="{{ . }}">Download</a>
        {{- end }}
        {{- with (index $update "ReleaseNoteURL" ) }}
        <a href="{{ . }}">Release notes</a>
        {{- end }}
      </div>
    </article>
  </li>
{{- end }}
</ul>